Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR ByLaws and calculator Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Basement.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/GeneralStair.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/MezzanineFloorService.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/WaterTankCapacity.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/WaterTankCapacity_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/repository/PlanFeatureRepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Auto Calculation toVal and fromVal changes
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Auto Calculaton toVal and fromVal changes
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

permit order download changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes for OC Bill Id update in fee Detail Table
  business-services/billing-service/src/main/java/org/egov/demand/repository/BillRepositoryV2.java
Owners: @gajendran-egov, @sathishp-eGov

changes for ic
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/OCService.java
Owners: @gajendran-egov, @sathishp-eGov

Ward No. added in EDCR and land address
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/PlanInformation.java
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/constants/DxfFileConstants.java
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/PlanInfoFeatureExtract.java
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
  municipal-services/land-services/src/main/java/org/egov/land/web/models/Address.java
  municipal-services/land-services/src/main/resources/db/migration/main/V20230306162520__eg_land_address_add_column.sql
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes to get User Validity Date in User response
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
  core-services/egov-user/src/main/java/org/egov/user/web/contract/UserSearchResponseContent.java
  core-services/egov-user/src/main/resources/db/migration/ddl/V20230502161720__alter_table_eg_user_validitydate.sql
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
  municipal-services/land-services/src/main/resources/land-persister.yml
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

User service properties file changes
  core-services/egov-user/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

User Service Test Skip add in pom.xml
  core-services/egov-user/pom.xml
Owners: @gajendran-egov, @sathishp-eGov

User Service validity date
  core-services/egov-user/src/main/java/org/egov/user/domain/model/User.java
Owners: @gajendran-egov, @sathishp-eGov

User Validity Date changes
  core-services/egov-user/src/main/java/org/egov/user/repository/rowmapper/UserResultSetExtractor.java
Owners: @gajendran-egov, @sathishp-eGov

User Validity Date check changes
  core-services/egov-user/src/main/java/org/egov/user/web/contract/UserSearchResponseContent.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service added in builder for wardNo and PatwariHN
  municipal-services/land-services/src/main/java/org/egov/land/repository/rowmapper/LandRowMapper.java
  municipal-services/land-services/src/main/java/org/egov/land/web/models/Address.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service changes for wardNo and patwariHN
  municipal-services/land-services/src/main/java/org/egov/land/web/models/Address.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Service changes in Address class for wardNo and patwariHN
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/landInfo/Address.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service redirect URL Changes in Test Kit
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

PG Service redirect URL Changes in Live Kit
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

EDCR Validation adding for wardNo, PatwariHN, City
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/PlanInfoFeatureExtract.java
Owners: @gajendran-egov, @sathishp-eGov

Changes for MSDG SMS service
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/controller/TestController.java
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

url change
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/employee/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

SMS Service MGOV changes for templateId
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/controller/TestController.java
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/BaseSMSService.java
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/impl/MGovSMSServicesImpl.java
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/impl/MSDGSMSServiceImpl.java
Owners: @gajendran-egov, @sathishp-eGov

SMS Servicee changes for MSDG
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/impl/MSDGSMSServiceImpl.java
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

EDCR condition changes for Occupancy Null in Parking
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230509145510__commons_dcr_update_subOccupancy.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

Billing Service fee Detail Table bill Id update changes
  business-services/billing-service/src/main/java/org/egov/demand/repository/BillRepositoryV2.java
Owners: @gajendran-egov, @sathishp-eGov

edit profile changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/UserProfile.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Collection Service changes
  business-services/collection-services/src/main/java/org/egov/collection/repository/rowmapper/PaymentRowMapper.java
Owners: @gajendran-egov, @sathishp-eGov

changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/UserProfile.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Scruitiny Report Changes
  edcr/service/egov/egov-edcr/src/main/resources/reports/templates/edcr_report.jrxml
Owners: @gajendran-egov, @sathishp-eGov

EDCR Scruitiny Report Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/PlanReportService.java
Owners: @gajendran-egov, @sathishp-eGov

SMS Service ssl verify set false
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

changes for user
  core-services/egov-user/src/main/java/org/egov/user/domain/model/User.java
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
  core-services/egov-user/src/main/java/org/egov/user/repository/rowmapper/UserRowMapper.java
  core-services/egov-user/src/main/java/org/egov/user/web/contract/UserSearchResponseContent.java
Owners: @gajendran-egov, @sathishp-eGov

SSL Certificate code added in MSDG
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/BaseSMSService.java
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/impl/MGovSMSServicesImpl.java
  core-services/egov-notification-sms/src/main/resources/application.properties
  core-services/egov-notification-sms/src/main/resources/msdgweb-mgov-gov-in.crt
Owners: @gajendran-egov, @sathishp-eGov

MGOV SMS service changes
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

MSDG changes
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/BaseSMSService.java
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

MGOV Changes
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Update reportResult.js
  frontend/mono-ui/web/rainmaker/packages/employee/src/modules/employee/reports/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

SMS Service Changes for MSDG SSL Certificate
  core-services/egov-notification-sms/pom.xml
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/BaseSMSService.java
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/impl/MGovSMSServicesImpl.java
  core-services/egov-notification-sms/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

crt file location path change
  core-services/egov-notification-sms/src/main/java/org/egov/web/notification/sms/service/BaseSMSService.java
Owners: @gajendran-egov, @sathishp-eGov

changes in user
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
  core-services/egov-user/src/main/resources/db/migration/ddl/V20230502161720__alter_table_eg_user_validitydate.sql
Owners: @gajendran-egov, @sathishp-eGov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov
