Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

query chnages in national dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

Coverage Logic Change for Birgaon ULB for Residential
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

Coverage Logic Change for Birgaon ULB for Commercial
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes (FAR and Coverage changes for Mix occupancy in Birgaon ULB)
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR changes for Industrial occupancy and Digit-UI changes for Profile update
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/UserProfile.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Changes for side setback in Birgaon ULB
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes for govt occupancy in Bhilai-charoda
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_BhilaiCharoda.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Calculator Changes
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Calculator Changes
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

roles
  municipal-services/bpa-services/pom.xml
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

roles
  municipal-services/bpa-services/src/main/java/org/egov/bpa/config/BPAConfiguration.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes for Net Plot Area Calculation in Birgaon
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_BhilaiCharoda.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service changes
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/utility/MinDistance.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in frontend for remove extra space in registration page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Edcr service changes to get watermark image from cloud
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
Owners: @gajendran-egov, @sathishp-eGov

Frontend changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/payment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/citizen/response/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/home.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Digit-UI changes for architect renewal form details showing
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/obps/useBPARENSearch.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes in TL Service for architect renewal update validity date
  municipal-services/tl-services/src/main/java/org/egov/tl/repository/TLRepository.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR changes for Dhamtari ULB
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

Frontend changes for Architect Renewal Application Search and Create
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/MyApplication/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/home.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Frontend changes for Architect Renewal
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/payment.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/useApplicationForBillSearch.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/citizen/response/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Frontend changes for Architect Renewal
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/payment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/citizen/response/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/home.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

User Service changes
  core-services/egov-user/src/main/java/org/egov/user/domain/service/UserService.java
  core-services/egov-user/src/main/java/org/egov/user/persistence/repository/UserRepository.java
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
  core-services/egov-user/src/main/java/org/egov/user/repository/rowmapper/ArchitectDetailsResultSetExtractor.java
  core-services/egov-user/src/main/java/org/egov/user/web/controller/UserController.java
Owners: @gajendran-egov, @sathishp-eGov

User Service Changes for Architect Fetch
  core-services/egov-user/src/main/java/org/egov/user/repository/rowmapper/ArchitectDetailsResultSetExtractor.java
Owners: @gajendran-egov, @sathishp-eGov

User Service Changes:
  core-services/egov-user/src/main/java/org/egov/user/persistence/repository/UserRepository.java
Owners: @gajendran-egov, @sathishp-eGov

Frontend changes for Architect Details in Employee Side
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/HRMS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/Module.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/hrmscard.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/inbox/ArchitectDetailsDesktopInbox.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/inbox/ArchitectDetailsMobileInbox.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/ArchitectDetailsInbox.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Frontend Changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/inbox/ArchitectDetailsDesktopInbox.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/ArchitectDetailsInbox.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Frontend Changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/hrms/useArchitectDetailsSearch.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/Module.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/ArchitectDetailsInbox1.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/ArchitectDetailsInbox2.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov
