Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

Risk Type Computation Changes in BPA Service
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

changes of frontend
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/CitizenHomeCard.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Dhamtari Residential Logic changed
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

add log in bpa-calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

add log
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

added logs
  frontend/micro-ui/.vscode/launch.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/useZones.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Zone.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Zones.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/getZones.js
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov, @gajendran-egov

Changes in BPA Calculator MDMS.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Claculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Delete getZones.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/getZones.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Delete Zones.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Zones.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Delete Zone.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Zone.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Delete useZones.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/useZones.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

SubOccupancy Added into table
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230315121547__commons_add_SubOccupancy.sql
Owners: @gajendran-egov, @sathishp-eGov

add log in bpa-calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

changes in bpa-calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

PG service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
Owners: @gajendran-egov, @sathishp-eGov

changes in bpa-calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service combined test of Birgaon and Dhamtari ULB
  core-services/egov-pg-service/src/main/java/org/egov/pg/repository/TransactionRepository.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/TransactionService.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Risk Type Computation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

add log in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Service Risk Type Computation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

changes in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Risk Type Computation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Risk Type Computation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

added validation for dxf upload
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/EDCRForm.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

added validation for dxf upload
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/citizen/payment-type/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Net Plot Area Calculation
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/Plan.java
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/PlanInformation.java
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/Plot.java
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20221123165407__commons_Occupancy_SubOccupancy_birgaon_data.sql
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/PlanInfoFeatureExtract.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Net Plot Area Calculation Added
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

changes in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Net Plot Calculation
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

revert
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

change in bpa calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov
