Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

addpaytype
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Payment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/AddPayType.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update MDMSService.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Add BPARepository Class to get sanction from DB
  municipal-services/bpa-calculator/pom.xml
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
  municipal-services/bpa-calculator/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

BPA calculator postgres dependency added
  municipal-services/bpa-calculator/pom.xml
Owners: @gajendran-egov, @sathishp-eGov

BPA Calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR allowed building height and floor logic added
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service Reconciliation and edcr changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/TransactionsApiController.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FeatureProcess.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/repository/PlanFeatureRepository.java
  edcr/service/egov/egov-edcr/src/main/resources/reports/templates/edcr_report.jrxml
Owners: @gajendran-egov, @sathishp-eGov

PG service logs
  core-services/egov-pg-service/src/main/java/org/egov/pg/repository/TransactionRepository.java
Owners: @gajendran-egov, @sathishp-eGov

added dockerfile
  frontend/mono-ui/web/Dockerfile
  frontend/mono-ui/web/rainmaker/Dockerfile
  frontend/mono-ui/web/rainmaker/packages/citizen/package.json
  frontend/mono-ui/web/rainmaker/packages/citizen/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov

EDCR
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/RainWaterHarvestingExtract.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/GeneralStair.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/LiftService.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/repository/PlanFeatureRepository.java
Owners: @gajendran-egov, @sathishp-eGov

logs added in pg service
  core-services/egov-pg-service/src/main/java/org/egov/pg/repository/TransactionQueryBuilder.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/LiftService.java
Owners: @gajendran-egov, @sathishp-eGov

front end login page changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/LocationSelection.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/SelectMobileNumber.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/components/config/config.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/Create/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update LocationSelection.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/LocationSelection.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

PG Service reconsiliation
  core-services/egov-pg-service/src/main/java/org/egov/pg/repository/TransactionRepository.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/jobs/earlyReconciliation/EarlyReconciliationJob.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service Live kit integration
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

PG Service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
Owners: @gajendran-egov, @sathishp-eGov

Create api for getting paytype from DB
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/resources/db/migration/main/V20230209153525_bpa_fee_detail_create.sql
Owners: @gajendran-egov, @sathishp-eGov

paytype API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

PayType API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

PayType API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

PayType API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

addpaytype.js page
  frontend/micro-ui/web/micro-ui-internals/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/Utils/Request.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/Payment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/AddPayType.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/Inbox/useInboxTableConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

PayType API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

login changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

PayType API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

Paytype API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

FeeDetail insertion API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeFeeDetailRequest.java
Owners: @gajendran-egov, @sathishp-eGov

bpa edited
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/util/BPAUtil.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Service create PayType API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

log remove
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/util/BPAUtil.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA PAYType insert api
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeRequest.java
  municipal-services/bpa-services/src/main/resources/db/migration/main/V20230209153525_bpa_fee_detail_create.sql
Owners: @gajendran-egov, @sathishp-eGov

Paytype insert API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  core-services/report/src/main/java/org/egov/controller/ReportController.java
Owners: @gajendran-egov, @sathishp-eGov

Report Service logs
  core-services/report/src/main/java/org/egov/report/service/ReportService.java
Owners: @gajendran-egov, @sathishp-eGov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov
