Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

changes for vlow risktype, keeping it inside BPA_LOW
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/util/BPAConstants.java
Owners: @gajendran-egov, @sathishp-eGov

not null father/husband name
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/web/models/landinfo/OwnerInfo.java
  municipal-services/land-services/src/main/java/org/egov/land/web/models/OwnerInfo.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes for Additional Details addition in Plan Info Layer
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/PlanInformation.java
  edcr/service/egov/egov-edcr-extract/pom.xml
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/constants/DxfFileConstants.java
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/PlanInfoFeatureExtract.java
  edcr/service/egov/egov-edcr/.factorypath
  edcr/service/egov/egov-edcrweb/.factorypath
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/PlanInfoFeatureExtract.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_BhilaiCharoda.java
Owners: @gajendran-egov, @sathishp-eGov

Changes for sector and Block added for bhilai-charoda
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/employee/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/NewBuildingPermit/CheckPage.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/BpaApplicationDetails/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes in frontend for entered name changes into Title Case
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/EDCRForm.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

added more counts for dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

count for dashboard
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

new api for applicationData for dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

applicationData
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

changes in query
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

changes in query
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

changes in query
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

total amount in scrutiny details page
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in frontend for Stackholder Renewal
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/GuardRoom.java
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/hooks/obps/useBPAREGgetbill.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/citizen/response/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/home.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

query changes for dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Exception handling for occupancy not marked properly
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/LiftService.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

In payment verification page changes for Add new fee
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/AddPayType.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

dashboard changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes for Payment retry after 30 minutes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes for Payment retry after 30 minutes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes revert & EDCR Service Rear Yard condition corrected for industrial
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

business service condition changed for risk type
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service payment retry after 30 minutes condition changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

Revert Previous changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service Changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service Changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov
