Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

BPA PayType insert API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA PayType insert API
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Update reportResult.js
  frontend/mono-ui/web/rainmaker/packages/employee/src/modules/employee/reports/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

sd
  core-services/report/src/main/java/org/egov/report/service/ReportService.java
Owners: @gajendran-egov, @sathishp-eGov

______________
  core-services/report/src/main/java/org/egov/report/service/ReportService.java
Owners: @gajendran-egov, @sathishp-eGov

manish
  core-services/report/src/main/java/org/egov/report/service/ReportService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API creation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BSCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/ProposalTypeRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA APIs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequest.java
  municipal-services/bpa-services/src/main/resources/db/migration/main/V20230209153525_bpa_fee_detail_create.sql
Owners: @gajendran-egov, @sathishp-eGov

BPA APIs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeRequestWrapper.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BCategoryRequestWrapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BSCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BSCategoryRequestWrapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequestWrapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeFeeDetailRequestWrapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/ProposalTypeRequestWrapper.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BSCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA APi Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/SlabMasterRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/SlabMasterRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/SlabMasterRequestWrapper.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/SlabMasterRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTpRateRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/SlabMasterRequest.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API CHanges
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

BPA TP_Rate and slab_master Search query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

create 6 new form
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/Utils/Request.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPSAdmin.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/common/src/payments/employee/payment-collect/cheque/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/components/TopBarSideBar/SideBar/EmployeeSideBar.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/engagement/src/Module.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/Module.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/hrmscard.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/components/inbox/DesktopInbox.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/CategoryEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/PayTpEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/PayTypeRateEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/Proposaltymaster.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/SlabEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/SubCategoryEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/ScrutinyDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/AddPayType.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/Table.js
  frontend/micro-ui/web/micro-ui-internals/scripts/create.sh
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

login and registration page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/SelectOtp.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/dss/src/components/ArrowDownward.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/dss/src/components/ArrowUpward.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/package.json
  frontend/micro-ui/web/package.json
  frontend/mono-ui/web/rainmaker/dev-packages/egov-boilerplate-dev/.env
  frontend/mono-ui/web/rainmaker/dev-packages/egov-bpa-dev/.env
  frontend/mono-ui/web/rainmaker/dev-packages/egov-common-dev/.env
  frontend/mono-ui/web/rainmaker/packages/citizen/src/modules/citizen/User/Login/components/LoginForm/index.js
  frontend/mono-ui/web/rainmaker/packages/employee/.env
  frontend/mono-ui/web/rainmaker/packages/employee/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

removed console
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

changes in login page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

BPA API Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeRequest.java
Owners: @gajendran-egov, @sathishp-eGov

r4eesponsive
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

responsive
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

bpa mdms service post fee
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

changes on mdmsservice and bparepository
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

worked on bpacalculator mdmsService
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

add log in bpaRepository in bpaCalculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

change condition in bpacalculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

add log bpacalculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA API for update and delete in Fee Calculation
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BSCategoryRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/PayTypeRequest.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/ProposalTypeRequest.java
Owners: @gajendran-egov, @sathishp-eGov
