Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

CITIZEN role tenantId changes in search Query
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
Owners: @gajendran-egov, @sathishp-eGov

user_tenant id added in user search query
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
Owners: @gajendran-egov, @sathishp-eGov

user_tenant id added in user search query
  core-services/egov-user/src/main/java/org/egov/user/repository/builder/UserTypeQueryBuilder.java
Owners: @gajendran-egov, @sathishp-eGov

employee login page redirect
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/employee/Login/login.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

employee login page redirect
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/employee/Login/login.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

employee sidebar redirect url changes
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/components/TopBarSideBar/SideBar/EmployeeSideBar.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

PG Service CCAvenue details fetch from table
  core-services/egov-pg-service/src/main/java/org/egov/pg/repository/TransactionRepository.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service CCAvenue Details fetch from table
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/TransactionService.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

certificate changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/BpaApplicationDetails/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/templates/ApplicationDetails/components/ScruntinyDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

BPA Service Logs added
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/UserService.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Service Logs added
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/UserService.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service tenant id change to city level in userExists
  municipal-services/land-services/src/main/java/org/egov/land/service/LandUserService.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard count
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

logs added for userInfo
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard count
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service Owner logs added
  municipal-services/land-services/src/main/java/org/egov/land/service/LandUserService.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service Owner logs added
  municipal-services/land-services/src/main/java/org/egov/land/service/LandUserService.java
Owners: @gajendran-egov, @sathishp-eGov

Land Service Owner Comparison Changes
  municipal-services/land-services/src/main/java/org/egov/land/service/LandService.java
  municipal-services/land-services/src/main/java/org/egov/land/service/LandUserService.java
  municipal-services/land-services/src/main/java/org/egov/land/web/models/OwnerInfo.java
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPSAdmin.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

dashboard changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

owneer info not null father or husband name
  municipal-services/land-services/src/main/java/org/egov/land/web/models/OwnerInfo.java
Owners: @gajendran-egov, @sathishp-eGov

direct bhavan anugya certificate for vlow
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

direct bhavan anugya certificate for vlow
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Changes for Kitchen and Staircase Feature
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/GeneralStair.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Kitchen.java
Owners: @gajendran-egov, @sathishp-eGov

query changes for ulb wise count for dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR rules changes for Bhilai-Charoda Industrial
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230531123047__commons_add_SubOccupancy.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Sanitation.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Sanitation_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_BhilaiCharoda.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR SubOccupancy update query
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230531123047__commons_add_SubOccupancy.sql
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230531161510__commons_dcr_update_subOccupancy_J.sql
Owners: @gajendran-egov, @sathishp-eGov

EDCR Suboccupancy color code added
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230531161510__commons_dcr_update_subOccupancy_J.sql
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230601145510__commons_dcr_update_subOccupancy_colorcode.sql
Owners: @gajendran-egov, @sathishp-eGov

Changes for Employee Search Apllication page tenantId, validation in Citizen Name
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230601145510__commons_dcr_update_subOccupancy_colorcode.sql
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/Search.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

changes in code for pcategory
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Park Area excluded in fee Calculation
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

TL Service Changes for Architect Renewal
  municipal-services/tl-services/src/main/java/org/egov/tl/service/TradeLicenseService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/util/TLConstants.java
  municipal-services/tl-services/src/main/java/org/egov/tl/validator/MDMSValidator.java
  municipal-services/tl-services/src/main/java/org/egov/tl/workflow/ActionValidator.java
  municipal-services/tl-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

TL Calculator changes for Architect Renewal
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/service/BPACalculationService.java
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/utils/TLCalculatorConstants.java
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/web/controllers/CalculatorController.java
Owners: @gajendran-egov, @sathishp-eGov

TL Service changes for Renewal Application initial status
  municipal-services/tl-services/src/main/java/org/egov/tl/service/EnrichmentService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/util/TLConstants.java
Owners: @gajendran-egov, @sathishp-eGov

TL Calculator changes for BPA Renewal
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/config/TLCalculatorConfigs.java
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/service/DemandService.java
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/web/controllers/BillingslabController.java
  municipal-services/tl-calculator/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

TL Service changes for BPA Renewal
  municipal-services/tl-services/src/main/java/org/egov/tl/config/TLConfiguration.java
  municipal-services/tl-services/src/main/java/org/egov/tl/service/EnrichmentService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/service/PaymentUpdateService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/service/TradeLicenseService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/service/UserService.java
  municipal-services/tl-services/src/main/java/org/egov/tl/util/TradeUtil.java
  municipal-services/tl-services/src/main/java/org/egov/tl/validator/MDMSValidator.java
  municipal-services/tl-services/src/main/java/org/egov/tl/workflow/ActionValidator.java
  municipal-services/tl-services/src/main/java/org/egov/tl/workflow/WorkflowIntegrator.java
  municipal-services/tl-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Disable Pin Code and GIS in Location Detail page & hide file select option in NOC page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/LocationDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/NOCDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Plot no, khasra no etc details remove for edcrdb insertion
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/PlanService.java
Owners: @gajendran-egov, @sathishp-eGov

TL Calculator changes for BPAREN taxhead code
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/config/TLCalculatorConfigs.java
  municipal-services/tl-calculator/src/main/java/org/egov/tlcalculator/service/BPACalculationService.java
  municipal-services/tl-calculator/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

dashboard changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPSAdmin.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/employee/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/EmployeeCard.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov
