Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

added missing braces
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

build issue resolved
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/ProposalController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/ProposalDetails.java
Owners: @gajendran-egov, @sathishp-eGov

Exception handling and code update
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/ProposalController.java
Owners: @gajendran-egov, @sathishp-eGov

Change requested by atalpass
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/ProposalController.java
Owners: @gajendran-egov, @sathishp-eGov

Missing passing dymanic value to query
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Resolved SQL bad grammer exception on sql query
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Adding logs for invertigation
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

build fix
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Revert "Adding logs for invertigation"
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

Adding log for investigation
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

Added more logs for debugging
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

build fix
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Remove temporary logs
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Labour Department API work
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/LabourDepartmentDetailsController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/LabourDepartmentDetails.java
Owners: @gajendran-egov, @sathishp-eGov

made changes in query for date formate
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

change datatype for dateOfSubmission and transactionDate
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/LabourDepartmentDetails.java
Owners: @gajendran-egov, @sathishp-eGov

Adding payment logic for Industrial High rise
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/services/MDMSService.java
Owners: @gajendran-egov, @sathishp-eGov

Added send notification button on HRMS
  frontend/mono-ui/web/rainmaker/packages/lib/egov-ui-kit/utils/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

Added Send notification button in HRMS
  frontend/mono-ui/web/rainmaker/dev-packages/egov-ui-kit-dev/src/utils/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

Revert "Added send notification button on HRMS"
  frontend/mono-ui/web/rainmaker/packages/lib/egov-ui-kit/utils/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

Revert "Feature/ab#8912101"
  frontend/mono-ui/web/rainmaker/dev-packages/egov-ui-kit-dev/src/utils/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

Revert "Revert "Feature/ab#8912101""
  frontend/mono-ui/web/rainmaker/dev-packages/egov-ui-kit-dev/src/utils/reportResult.js
Owners: @sathishp-eGov, @jagankumar-egov

Changes for SOP construction type
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/rowmapper/BPARowMapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BPA.java
Owners: @gajendran-egov, @sathishp-eGov

Fix typo in PayTypeRequest parameter name
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Added bpa-persist yml changes
  municipal-services/bpa-services/src/main/resources/bpa-persister.yml
Owners: @gajendran-egov, @sathishp-eGov

Updated variable name
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/rowmapper/BPARowMapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BPA.java
  municipal-services/bpa-services/src/main/resources/bpa-persister.yml
Owners: @gajendran-egov, @sathishp-eGov

Adding Construction type while creating application on Architect side
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/BasicDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov
