Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov

Added a new method for object method to string
  core-services/egov-pg-service/src/main/java/org/egov/pg/utils/Utils.java
Owners: @gajendran-egov, @sathishp-eGov

revertinig back the privious code
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

changes for gateway
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

changes some payment related
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

changes some payment related
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

change call back return url format
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

adding some properties regarding the razorpay
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Changes in the redirect controller for Razorpay condition
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in the redirect controller for Razorpay condition
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in the redirect controller for Razorpay condition
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway service
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in RazorpayGateway
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
Owners: @gajendran-egov, @sathishp-eGov

changes made as per SR code
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/razorpay/RazorPayGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

Update application.properties
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

changes the application.properties file
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Added a new specific controller for razorpay pay gateway
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

commenting one param not required for ccavenue
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
Owners: @gajendran-egov, @sathishp-eGov

testing purpose commit
  edcr/service/egov/egov-edcr-extract/pom.xml
  edcr/service/egov/egov-edcr/.gitignore
  edcr/service/egov/egov-edcr/.settings/org.eclipse.wst.common.component
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Citya.java
  edcr/service/egov/egov-edcrweb/.gitignore
  edcr/service/egov/egov-edcrweb/.settings/org.eclipse.wst.common.component
  edcr/service/egov/egov-regularisation/target/classes/META-INF/MANIFEST.MF
  edcr/service/egov/egov-regularisation/target/classes/META-INF/maven/org.egov.edcr/egov-regularisation/pom.properties
  edcr/service/egov/egov-regularisation/target/classes/META-INF/maven/org.egov.edcr/egov-regularisation/pom.xml
  edcr/service/egov/egov-regularisation/target/classes/config/edcr-application-config.properties
  edcr/service/egov/egov-regularisation/target/classes/config/spring/applicationContext-regularisation-services.xml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/edcr_report.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/edcr_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/oc_comparison_report.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/oc_comparison_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule23_4_subreport.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule23_5_subreport.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule23_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule23_subreport.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule26_A_subreport.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule26_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule26_subreport.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule26_subreport.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule30_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule32_1a_subreport.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule32_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule60_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule60_subreport.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule61_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule61_subreport.jasper
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule62_report.jrxml
  edcr/service/egov/egov-regularisation/target/classes/reports/templates/rule63_subreport.jasper
  edcr/service/egov/egov-regularisation/target/classes/watermark.png
  edcr/service/egov/egov-regularisation/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  edcr/service/egov/egov-regularisation/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  edcr/service/egov/egov-regularisation/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  edcr/service/egov/settings.xml
Owners: @gajendran-egov, @sathishp-eGov

changes in reciept format
  business-services/collection-services/src/main/java/org/egov/collection/service/PaymentReceiptFSM.java
Owners: @gajendran-egov, @sathishp-eGov

changes the calling chain of reciept logo for fsm module
  business-services/collection-services/src/main/java/org/egov/collection/service/PaymentReceiptFSM.java
Owners: @gajendran-egov, @sathishp-eGov

Changes regarding signature block
  business-services/collection-services/src/main/java/org/egov/collection/service/PaymentReceiptFSM.java
Owners: @gajendran-egov, @sathishp-eGov

Added a new controller for Labour Cess Fee details
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

make some corrections in the LabourCessFee controller
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

make some changes regarding the calling chain
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

small correction for locid param
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

1st commit from deeksha branch
  edcr/service/egov/egov-edcrweb/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
  edcr/service/egov/egov-edcrweb/java/org/egov/edcr/web/controller/rest/RestExceptionHandler.java
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/ApplicationSearchFormField.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

adding new page for labour cess fee details
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPSAdmin.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/LabourCessDetailReport.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/LabourCessFeeDetail.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Added terms and condition
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Added Consent
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Added Consent
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

removingimportlabourcess
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/LabourCessFeeDetail.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Testing consent
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BPA.java
Owners: @gajendran-egov, @sathishp-eGov

Adding consentin BPA
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Added Consent in BPA
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Proposal Details feature API
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/ProposalController.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/ProposalDetails.java
Owners: @gajendran-egov, @sathishp-eGov

remove BPARepository for calculator
  municipal-services/bpa-calculator/src/main/java/org/egov/bpa/calculator/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov
