Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

PG Service Changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

wf logs
  core-services/egov-workflow-v2/src/main/java/org/egov/wf/service/EnrichmentService.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
Owners: @gajendran-egov, @sathishp-eGov

validity date for pre
  municipal-services/bpa-services/src/main/java/org/egov/bpa/config/BPAConfiguration.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
Owners: @gajendran-egov, @sathishp-eGov

Create new API for delete rejected scruity from DB in edcr Service
  core-services/egov-pg-service/src/main/java/org/egov/pg/validator/TransactionValidator.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

validity date for pre
  municipal-services/bpa-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

validity date
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/EDCRService.java
Owners: @gajendran-egov, @sathishp-eGov

validity date for pre
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

validity date
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

validity date
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

validity date
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Ectract condition change for setbacks
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/utility/MinDistance.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_BhilaiCharoda.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in update query for fee detail update
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Revert "Changes in update query for fee detail update"
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes in update query for fee detail update and revert previous changes in frontend
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov, @gajendran-egov

Change in update query for fee detail update in other related tables
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in setback handling blank occupancy
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

by mistake code delete in frontend, reverted
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/BpaApplicationDetail/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes in frontens and backend(land, BPA service and persiter config) for complete address entry for application
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/LocationDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/OwnerDetails.js
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/landInfo/Address.java
  municipal-services/land-services/src/main/java/org/egov/land/repository/rowmapper/LandRowMapper.java
  municipal-services/land-services/src/main/java/org/egov/land/web/models/Address.java
  municipal-services/land-services/src/main/resources/db/migration/main/V20230306162520__eg_land_address_add_column.sql
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov, @gajendran-egov

Changes in frontend to enter for Proposed Site Address
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/LocationDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/ScrutinyDetails.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/NewBuildingPermit/CheckPage.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes in frontend to enter for Proposed Site Address
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPS.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/LocationDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Changes for PlotBoundaryArea fetch in Coverage
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

Setback changes for calculating in mean value
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Dhamtari.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_BhilaiCharoda.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Birgaon.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Dhamtari.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

logs
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
Owners: @gajendran-egov, @sathishp-eGov

payment update, validiggty date
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

search by application api
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in BPA Service for fetching application details in Dashboard
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

BPA Service Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

for dashboard data
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

Bpa Service Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
Owners: @gajendran-egov, @sathishp-eGov

edited for bpa
  municipal-services/bpa-services/pom.xml
Owners: @gajendran-egov, @sathishp-eGov

edited for bpa controller
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov
