Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

query alter
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20240201145510__commons_create
Owners: @gajendran-egov, @sathishp-eGov

query alter
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

edcr
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Create new API to get Occupancy and SubOccupancy
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

file name changed
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20240201145510__commons_create.sql
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service changes for Sub Occupancy
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service Changes for feature name API
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20240201174010__commons_feature_subfeature.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

file name changed
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

edcr sideyar changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

edcr sideyar changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SetBackService_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

edcr
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

Frontend changes for edcr rule entry UI
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/EDCR.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/EdcrRuleEntry.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Changes for Birgaon ULB Setback condition
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Birgaon.java
Owners: @gajendran-egov, @sathishp-eGov

edcr
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  edcr/service/egov/egov-edcrweb/src/main/java/org/egov/edcr/web/controller/rest/RestEdcrApplicationController.java
Owners: @gajendran-egov, @sathishp-eGov

edcr
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rules master
  edcr/service/egov/egov-commons/src/main/java/org/egov/common/entity/edcr/Plan.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rule
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rule
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Coverage_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rule
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Far_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in EDCR for Parking to fetch bylaws from table
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rule
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Chnages in EDCR for Parking master calculation
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230112104007__commons_update_occupancy_suboccupancy_code_colorcode.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Parking_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

edcr rule
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/FrontYardService_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/RearYardService_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/SideYardService_Demo.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service and frontend changes for edcr rule entry
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20240901135510__commons_edcr_rule_entry_alter.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/GeneralStair_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/EDCR.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/EdcrRuleEntry.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/ScrutinyDetails.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR Changes
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20241001174010__commons_feature_subfeature_new.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/AdditionalFeature_Demo.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Service Changes
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20241001164010__commons_feature_occupancy.sql
Owners: @gajendran-egov, @sathishp-eGov

EDCR Rule entry changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/Balcony_Demo.java
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/EdcrRuleEntry.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Digit-UI Changes, Locality field changes in Location Details page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/LocationDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

EDCR rule entry changes in insert query
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Digit-UI changes for edcr rule entry page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/EdcrRuleEntry.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

log
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

url
  municipal-services/bpa-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

url
  municipal-services/bpa-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

url
  municipal-services/bpa-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Changes in table for edcr rule entry
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20241501163010__commons_alter_edcr_rule_entry.sql
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Changes
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrRestService.java
Owners: @gajendran-egov, @sathishp-eGov

Feontend changes for edcr rule entry page
  frontend/micro-ui/web/micro-ui-internals/packages/modules/hrms/src/pages/EdcrRuleEntry.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

query changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/NationalDashboardRepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/NationalDashboardService.java
Owners: @gajendran-egov, @sathishp-eGov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov
