Repository UPYOG-GIT/UPYOG, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

BPA Service Changes
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

applicationSearch
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/OBPSAdmin.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/ApplicationSearchFormField.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/DashboardApplicationSearch.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

applicationSearch
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

added bpa data search row mapper class
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/rowmapper/BPASearchDataRowMapper.java
Owners: @gajendran-egov, @sathishp-eGov

bpa search row data
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
Owners: @gajendran-egov, @sathishp-eGov

edited for bpa
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/rowmapper/BPASearchDataRowMapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/controller/BPAController.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes for payment Mode in Test Kit
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

row mapper
  municipal-services/land-services/src/main/java/org/egov/land/repository/rowmapper/LandRowMapper.java
Owners: @gajendran-egov, @sathishp-eGov

application search
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/ApplicationSearchFormField.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/CitizenHomeCard.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

added architect detail in BPA
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/querybuilder/BPAQueryBuilder.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/rowmapper/BPASearchDataRowMapper.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/BPAService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/service/UserService.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/BPA.java
Owners: @gajendran-egov, @sathishp-eGov

application Search
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/ApplicationSearchFormField.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/CitizenHomeCard.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

application search
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update ApplicationSearchFormField.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Home/ApplicationSearchFormField.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Add rga module folder in frontend
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/index.js
Owners: @gajendran-egov, @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Collection service changes for fee Detail fetching in payment
  business-services/collection-services/src/main/java/org/egov/collection/repository/PaymentRepository.java
  business-services/collection-services/src/main/java/org/egov/collection/repository/rowmapper/FeeDetailRowMapper.java
  business-services/collection-services/src/main/java/org/egov/collection/repository/rowmapper/PaymentRowMapper.java
  business-services/collection-services/src/main/java/org/egov/collection/service/PaymentService.java
Owners: @gajendran-egov, @sathishp-eGov

PG Service Test Kit changes add TestKit in payment mode
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
  edcr/service/egov/egov-regularisation/target/classes/META-INF/MANIFEST.MF
  edcr/service/egov/egov-regularisation/target/classes/META-INF/maven/org.egov.edcr/egov-regularisation/pom.properties
Owners: @gajendran-egov, @sathishp-eGov

PG Service changes revert to live Kit
  core-services/egov-pg-service/src/main/java/org/egov/pg/service/gateways/ccavenue/CcavenueGateway.java
  core-services/egov-pg-service/src/main/java/org/egov/pg/web/controllers/RedirectController.java
  core-services/egov-pg-service/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

.sql file add for rga-services table creation query
  municipal-services/rga-services/src/main/resources/db/Dockerfile
  municipal-services/rga-services/src/main/resources/db/migrate.sh
  municipal-services/rga-services/src/main/resources/db/migration/main/V20230728152355__rga_create.sql
Owners: @gajendran-egov, @sathishp-eGov

RGA Service Flyway removed from dependency
  municipal-services/rga-services/pom.xml
  municipal-services/rga-services/src/main/java/org/entit/rga/RegularisationServiceApplication.java
  municipal-services/rga-services/src/main/resources/db/Dockerfile
  municipal-services/rga-services/src/main/resources/db/migrate.sh
Owners: @gajendran-egov, @sathishp-eGov

Update index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/Login/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

Update UserRepository.java
  core-services/egov-user/src/main/java/org/egov/user/persistence/repository/UserRepository.java
Owners: @gajendran-egov, @sathishp-eGov

Update User.java
  core-services/egov-user/src/main/java/org/egov/user/domain/model/User.java
Owners: @gajendran-egov, @sathishp-eGov

Changes in EDCR Service for mezzanine Floor
  edcr/service/egov/egov-commons/src/main/resources/db/migration/main/V20230804175710__ddl_mezzanine_layer_change.sql
  edcr/service/egov/egov-edcr-extract/src/main/java/org/egov/edcr/feature/MezzanineFloorServiceExtract.java
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/feature/MezzanineFloorService.java
Owners: @gajendran-egov, @sathishp-eGov

RGA Service properties file changes
  municipal-services/rga-services/src/main/resources/application.properties
Owners: @gajendran-egov, @sathishp-eGov

Update Workflow.java
  municipal-services/bpa-services/src/main/java/org/egov/bpa/web/model/Workflow.java
Owners: @gajendran-egov, @sathishp-eGov

added rejected cases card in dashboard
  frontend/micro-ui/web/micro-ui-internals/packages/modules/core/src/pages/citizen/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

watermark issuse changes in EDCR Service
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
  edcr/service/egov/egov-regularisation/src/main/java/org/egov/regularisation/service/RegEdcrApplicationService.java
  edcr/service/egov/egov-regularisation/target/classes/META-INF/MANIFEST.MF
  edcr/service/egov/egov-regularisation/target/classes/META-INF/maven/org.egov.edcr/egov-regularisation/pom.properties
Owners: @gajendran-egov, @sathishp-eGov

Revert "watermark issuse changes in EDCR Service"
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
  edcr/service/egov/egov-regularisation/src/main/java/org/egov/regularisation/service/RegEdcrApplicationService.java
  edcr/service/egov/egov-regularisation/target/classes/META-INF/MANIFEST.MF
  edcr/service/egov/egov-regularisation/target/classes/META-INF/maven/org.egov.edcr/egov-regularisation/pom.properties
Owners: @gajendran-egov, @sathishp-eGov

Watermark issue changes in EDCR Service
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
  edcr/service/egov/egov-regularisation/src/main/java/org/egov/regularisation/service/RegEdcrApplicationService.java
Owners: @gajendran-egov, @sathishp-eGov

Watermark issuse changes in EDCR Service
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
  edcr/service/egov/egov-regularisation/src/main/java/org/egov/regularisation/service/RegEdcrApplicationService.java
Owners: @gajendran-egov, @sathishp-eGov

EDCR Cahnges for watermark issue
  edcr/service/egov/egov-edcr/src/main/java/org/egov/edcr/service/EdcrApplicationService.java
  edcr/service/egov/egov-egi/src/main/resources/config/application-config.properties
  edcr/service/egov/egov-regularisation/.gitignore
  edcr/service/egov/egov-regularisation/src/main/java/org/egov/regularisation/service/RegEdcrApplicationService.java
Owners: @gajendran-egov, @sathishp-eGov

Regularisation Service added in frontend for Scrutiny
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/urls.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/elements/EDCR.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/Module.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/config/rgaBuildingPermitConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/config/rgaEdcrConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pageComponents/RGAEDCRForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/RGAEDCR/EDCRAcknowledgement.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/RGAEDCR/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/home.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/citizen/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/obps/src/pages/employee/BpaApplicationDetails/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/config/edcrConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/citizen/EdcrInbox/FilterFormFieldsComponent.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/citizen/EdcrInbox/SearchFormFieldsComponent.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/citizen/EdcrInbox/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/citizen/EdcrInbox/useInboxMobileCardsData.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/citizen/EdcrInbox/useInboxTableConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/rga/src/pages/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @saurabh-egov

user logs
  core-services/egov-user/src/main/java/org/egov/user/domain/service/UserService.java
Owners: @gajendran-egov, @sathishp-eGov

RGA Calculator model class package name changes in pom.xml
  municipal-services/rga-calculator/pom.xml
Owners: @gajendran-egov, @sathishp-eGov

added for dashboard count
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

edited for bpa
  municipal-services/bpa-services/src/main/java/org/egov/bpa/repository/BPARepository.java
Owners: @gajendran-egov, @sathishp-eGov

RGA Service Penalty Model Class changes
  municipal-services/rga-services/src/main/java/org/entit/rga/web/model/RGAPenaltyRequest.java
Owners: @gajendran-egov, @sathishp-eGov

RGA Service rate added in penalty
  municipal-services/rga-services/src/main/java/org/entit/rga/repository/RGARepository.java
  municipal-services/rga-services/src/main/java/org/entit/rga/web/model/RGAPenaltyRequest.java
Owners: @gajendran-egov, @sathishp-eGov

RGA penalty and SLab query added and changes in Repository
  municipal-services/rga-services/src/main/java/org/entit/rga/repository/RGARepository.java
  municipal-services/rga-services/src/main/resources/db/migration/main/V20230728152355__rga_create.sql
Owners: @gajendran-egov, @sathishp-eGov

RGA Service changes, Correcting method calling name of deleteRGAPenalty
  municipal-services/rga-services/src/main/java/org/entit/rga/service/RGAService.java
Owners: @gajendran-egov, @sathishp-eGov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov
*.yaml  @gajendran-egov @sathishp-eGov

* business-services/ @sathishp-eGov @talele08 @kavi-egov
* core-services/ @sathishp-eGov @talele08 @kavi-egov
* municipal-services/ @sathishp-eGov @talele08 @kavi-egov
* frontend/ @sathishp-eGov @talele08 @kavi-egov
* edcr/ @pradeep
* finance/ @elzan

##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @saurabh-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @saurabh-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov
